

body {
  background: #fff;
  color: #343F49;
}

* {
  box-sizing: border-box;
}

path.state {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

#backtotop {
  display: none !important;
  visibility: hidden !important;
}

.top-image img {
  display: block;
}

.bb-numbers-pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4em;
  z-index: 30;
}

.bb-numbers-pagination li {
  list-style: none;
  display: block;
}

.bb-numbers-pagination a {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  color: #fff !important;
  position: relative;
  padding: 4px;
}

.bb-numbers-pagination a:hover {
  color: #fff;
}

.bb-numbers-pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 4px;
  bottom: 0;
}

.bb-numbers-pagination a.active:after {
  box-shadow: inset 0 0 0 5px;
}

.hide-pagination .bb-numbers-pagination {
  display: none;
}

h1.page-title {
  font-size: 3rem;
  letter-spacing: -.2px;
  line-height: 3.375rem;
  margin: 0;
  color: #fff;
}

h2.story-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 11.25px;
  margin-bottom: 0;
  color: #343F49;
}

.top-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 11.25px;
  color: #5AC9E7;
}

.bar {
  height: 12px;
  width: 100px;
  background: #5AC9E7;
}

.wrap {
  padding: 0px 15px 45px 15px;
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 20;
}

.content {
  padding-top: 45px;
}

.intro-text {
  max-width: 700px;
}

.wrap::after,
.stats-section::after,
.chart-block::after,
.section-content::after,
.stat::after,
.global-chart-wrap::after,
.future .stat::after,
.cost-stat-col::after,
.future-chart-col::after {
  content: "";
  clear: both;
  display: table;
}

.global-chart-wrap {
  display: flex;
  align-items: baseline;
}

.top-section-text {
  color: #fff;
  padding-top: 14vh;
}

.top-section-text p {
  margin-bottom: 0;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: 10;
}

.top-gradient {
  background-image: linear-gradient(180deg,#222943,transparent);
  top: 0;
}

.bottom-gradient {
  background-image: linear-gradient(0deg,#222943,transparent);
  bottom: 0;
}

.story.speed .stats-section {
  margin-top: 90px;
}

.story.speed .chart-block {
  margin-top: 0;
}

.story-text,
.chart-text {
  font-size: 1.5rem;
  line-height: 2rem;
}

.chart-text {
  margin-top: 22.5px;
}

.story-text p:last-child,
.chart-text p:last-child {
  margin-bottom: 0;
}

.chart-text {
  max-width: 770px;
}

.chart-text p,
.story-text p {
  margin-top: 0;
  margin-bottom: 0;
}

.stats-section .story-text {
  float: left;
  margin-right: 90px;
  max-width: 770px;
}

.story.speed .intro {
  margin-bottom: 0;
}

.story.speed .chart-block {
  position: relative;
}

.story.speed .chart-text {
  position: absolute;
  left: 0;
  top: 0;
}

.global-speed-chart-bar.red,
.global-cost-chart-bar.red {
  fill: #E71B4F;
}

.global-speed-chart-bar.blue,
.global-cost-chart-bar.blue {
  fill: #5AC9E7;
}

.cost-chart .axis path,
.cost-chart .axis line  {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.cost-chart .line {
  fill: none;
}

.cost-chart .cost-chart-bar {
  fill: #E71B4F;
}

.cost-chart .x.axis path {
  display: inline;
}

.cost-chart-bar-label {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: bold;
  opacity: 0;
}

.cost-chart-bar-label.reveal {
  opacity: 1;
}

.cost-chart-bar-label.white {
  fill: #fff;
}

.cost-chart-bar-label.red {
  fill: #E71B4F;
}

.cost-chart .tick text {
  transform: translate(0, 15px);
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: normal;
  fill: #fff;
}

.cost-chart .cost-percent-label {
  fill: #5AC9E7;
  font-size: 4.375rem;
  line-height: 4rem;
  letter-spacing: -0.125rem;
  font-weight: bold;
}

.cost-chart .cost-percent-label-sign {
  font-weight: normal;
}

.cost-chart .cost-percent-label-text {
  fill: #5AC9E7;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.cost .cost-chart-col {
  position: relative;
}

.shape-wrap .cost-num-wrap {
  position: relative;
}

.story.cost .chart-wrap {
  float: left;
  width: 690px;
  margin-right: 90px;
}

.story.cost .shape-wrap {
  float: left;
  width: 300px;
}

.shape-wrap .cost-percent-wrap {
  position: absolute;
  bottom: 70px;
  left: 0;
  text-align: center;
  width: 100%;
}

.shape-wrap .cost-percent-num {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: bold;
  color: #fff;
}

.shape-wrap .cost-percent-label {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.shape-wrap .box {
  width: 300px;
  height: 0px;
  transition: height 2s;
  background: #5AC9E7;
}

.shape-wrap .box.full {
  height: 300px;
}

.story {
  background-size: cover!important;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.story.main {
  background-image: url('../images/general_background_dark.jpg');
}

.story.top {
  background-image: url('../images/bb_numbers_header_2.jpg');
}

.adoption-chart .y.axis .tick line,
.customers-chart .y.axis .tick line {
  opacity: 0.2;
  stroke-dasharray: 3 3;
}

.axis-label {
  font-size: 1.125rem;
}

.down-arrow-wrap {
  position: absolute;
  bottom: 10vh;
  z-index: 20;
  width: 100%;
  text-align: center;
}

.down-arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 12px;
  margin-top: 40px;
  transform: translateY(0) rotate(45deg);
}

.up-arrow-wrap {
  position: absolute;
  bottom: 30px;
  z-index: 20;
  width: 100%;
  text-align: center;
  display: none;
}

.hide-pagination .up-arrow-wrap {
  display: block;
}

.up-arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 12px;
  margin-top: 40px;
  transform: translateY(0) rotate(225deg);
  cursor: pointer;
}

.story {
  height: 100vh;
  position: relative;
}

.sign {
  font-weight: normal;
}

.sign.prefix {
  margin-right: 3px;
}

.sign.suffix {
  margin-left: 3px;
}

.story.blue {
  background-color: #222943;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #343F49;
}

.story.blue h2.section-title,
.story.image-section h2.section-title {
  color: #fff;
}

.story.blue .section-text,
.story.image-section .section-text {
  color: #fff;
}

.section-wrap {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section-text {
  font-size: 1.375rem;
  line-height: 1.625rem;
  margin-top: 22.5px;
  max-width: 800px;
}

.section-text p {
  margin: 0;
}

.section-link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 45px;
}

.section-link a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 2px;
  color: #fff;
  position: relative;
}

.section-link a:after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  right: auto;
  bottom: 0;
  width: 100%;
  background: #fff;
  transition: 0.3s width ease-in;
}

.section-link a:hover {
  color: #5AC9E7;
}

.section-link a:hover:after {
  background: #5AC9E7;
}

.section-content {
  margin-top: 45px;
}

.cost .section-content {
  margin-top: 90px;
}

.stat,
.future-stat-col,
.future-chart-col,
.cost-stat-col,
.cost-chart-col {
  float: left;
  width: 525px;
}

.cost-chart {
  margin-top: -50px;
}

.cost-chart-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 11.25px;
  font-weight: bold;
}

.stat {
  display: flex;
}

.global-speed-chart {
  margin-right: 90px;
}

.global .chart-label {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  fill: #fff;
}

.global-speed-chart,
.global-cost-chart {
  float: left;
  width: 525px;
}

.stat.one,
.stat.three,
.future-stat-col,
.cost-stat-col {
  margin-right: 90px;
}

.stat.one,
.stat.two {
  margin-bottom: 90px;
}

.stat-num {
  color: #5AC9E7;
  font-size: 4.375rem;
  line-height: 4rem;
  float: left;
  margin-right: 45px;
  letter-spacing: -0.125rem;
  flex: none;
  font-weight: bold;
}

.future .future-stat-col .stat,
.cost .cost-stat-col .stat {
  float: none;
  margin-bottom: 45px;
}

.future .future-chart-col .donut-chart {
  float: left;
  width: 230px;
  margin-right: 45px;
  min-height: 100px;
}

.future .donut-chart .color0,
.future .donut-chart .color1 {
  stroke-width: 2;
  stroke: #E71B4F;
  fill: transparent;
}

.future .donut-chart .color0 {
  fill: #E71B4F;
}

.future .future-chart-col .stat {
  float: left;
  width: 250px;
  display: block;
  color: #E71B4F;
}

.future .future-chart-col .stat-num {
  color: #E71B4F;
}

.future .future-chart-col .stat-num,
.future .future-chart-col .stat-text {
  float: none;
  width: auto;
}

.future .future-chart-col .stat-text {
  margin-top: 11.25px;
}

.stat-text {
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #fff;
  float: left;
  width: auto;
}

.speed .text-block {
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #fff;
  float: left;
  width: 525px;
}

.speed .text-block-one,
.speed .text-block-two {
  margin-top: 22.5px;
}

.chart-source {
  font-size: 1rem;
  color: #ccc;
  margin-top: 22.5px;
}

.static-chart {
  width: 680px;
  margin-right: 90px;
  float: left;
}

.static-chart-stat {
  float: left;
  width: 370px;
  text-align: right;
  font-weight: bold;
  margin-top: 90px;
}

.chart-stat-num {
  font-size: 4.375rem;
  line-height: 4.375rem;
  color: #fff;
}

.chart-stat-text {
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #fff;
  margin-top: 11.25px;
}

.speed .chart-block {
  float: left;
  width: 525px;
  margin-right: 90px;
}

.speed .animation-container {
  position: relative;
  display: inline-block;
}

.speed .map-outline {
  fill: #E71B4F;
  stroke: #E71B4F;
  stroke-miterlimit:10;
  fill-rule:evenodd;
  fill-opacity: 0;
}

.active.speed svg polygon {
  stroke-width: 2px;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: outline, fillin;
  animation-duration: 5s, .5s;
  animation-delay: 0s, 4s;
}

.cost-chart .x.axis path {
  opacity: 0;
}

.global .chart-bar-label,
.global .chart-bar-data {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: bold;
  opacity: 0;
}

.global .chart-bar-label.reveal,
.global .chart-bar-data.reveal {
  opacity: 1;
}

.global .chart-bar-data.white {
  fill: #fff;
}

.global .chart-bar-label {
  fill:  #fff;
  font-weight: normal;
}

.global .chart-bar-data.blue {
  fill: #343F49;
}

.global-chart-label {
  font-size: 1.125rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}


@keyframes outline{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fillin {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

@media all and (max-width: 1249px) {
  .bb-numbers-pagination {
    right: 10px;
  }
}

@media all and (max-width: 1199px) {
  .global-speed-chart,
  .future-stat-col,
  .cost-stat-col {
    margin-right: 45px;
  }

  .global-speed-chart,
  .global-cost-chart,
  .future-stat-col,
  .future-chart-col,
  .cost-stat-col,
  .cost-chart-col {
    float: left;
    width: 447.5px;
  }

  .stat {
    width: 447.5px;
  }

  .future .future-chart-col .donut-chart {
    width: 200px;
    margin-right: 22.5px;
  }

  .future .future-chart-col .stat {
    width: 225px;
  }

  .stat.one,
  .stat.three {
    margin-right: 45px;
  }

  .stat.one,
  .stat.two {
    margin-bottom: 45px;
  }

  .stat-num {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-right: 22.5px;
  }

  .stat-text {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .speed .chart-block {
    width: 447.5px;
    margin-right: 45px;
  }

  .speed .text-block {
    font-size: 1.25rem;
    line-height: 1.5rem;
    width: 447.5px;
  }

  .cost .cost-chart {
    width: 480px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .wrap {
    width: 970px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .wrap {
    width: 750px;
  }
}

@media all and (max-width: 991px) {
  .top-title {
    font-size: 1.75rem;
  }

  h1.page-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2.section-title {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .future .future-chart-col .donut-chart {
    width: 150px;
  }

  .future .future-chart-col .stat {
    width: 165px;
  }

  .global-speed-chart,
  .global-cost-chart,
  .future-stat-col,
  .future-chart-col,
  .cost-stat-col,
  .cost-chart-col {
    width: 337.5px;
  }

  .stat {
    width: 337.5px;
  }

  .stat-text br {
    display: none;
  }

  .speed .chart-block,
  .speed .text-block {
    width: 337.5px;
  }

  .stat-num {
    font-size: 3rem;
    line-height: 3rem;
  }

  .investment .animated-chart {
    width: 50%;
    margin-right: 5%;
  }

  .animated-chart-stats {
    width: 45%;
  }

  .animated-chart-stat {
    margin-top: 22.5px;
  }

  .animated-chart-stat.one {
    margin-top: 0;
  }

  .animated-chart-stat .chart-stat-num {
    width: auto;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .animated-chart-stat .chart-stat-text {
    width: auto;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 5.5px;
  }

  .cost .cost-chart {
    width: 362.5px;
  }
}

@media all and (max-width: 767px) {
  .wrap {
    width: auto;
    padding: 0px 22.5px;
  }

  .top-section-text {
    padding-top: 100px;
  }

  .story {
    height: auto !important;
    padding-bottom: 90px;
    background-size: auto !important;
    background-image: none;
  }

  .section-wrap {
    left: 22.5px;
    right: 22.5px;
    position: static;
    top: auto;
    -ms-transform: none;
    transform: none;
  }

  .story .bottom-gradient,
  .story .top-gradient {
    background-image: none;
  }

  .story.main.adoption .top-gradient {
    background-image: linear-gradient(180deg,#222943,transparent);
  }

  .bb-numbers-pagination,
  .up-arrow-wrap,
  .down-arrow-wrap {
    display: none;
    visibility: hidden;
  }

  .section-title br {
    display: none;
  }

  .section-text {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .cost .section-content {
    margin-top: 45px;
  }

  .section-link a {
    text-decoration: underline;
    padding-bottom: 0;
    color: #5AC9E7;
    font-size: 1.125rem;
  }

  .section-link a:after {
    display: none;
  }

  .global-speed-chart-wrap,
  .global-cost-chart-wrap {
    width: 48%;
  }

  .global-speed-chart,
  .global-cost-chart {
    width: 100%;
  }

  .global-speed-chart-wrap {
    margin-right: 4%;
  }

  .future-stat-col,
  .cost-stat-col {
    margin-bottom: 22.5px;
  }

  .future-stat-col,
  .future-chart-col,
  .cost-stat-col {
    width: 100%;
  }

  .future .future-chart-col .donut-chart {
    width: 100%;
    max-width: 200px;
  }

  .stat,
  .future .future-stat-col .stat,
  .future .future-chart-col .stat,
  .cost .cost-stat-col .stat {
    width: 48%;
    float: left;
  }

  .cost .cost-chart-col {
    width: 100%;
    max-width: 525px;
    margin: 22.5px auto 0px auto;
    float: none;
    clear: both;
  }

  .cost-chart .cost-percent-label {
    font-size: 3rem;
    line-height: 3rem;
  }

  .cost-chart .cost-percent-label-text {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }

  .cost .cost-chart-col .cost-chart {
    width: 100%;
  }

  .stat.one,
  .stat.three,
  .future-stat-col .stat.one,
  .future .future-chart-col .donut-chart,
  .cost .cost-stat-col .stat.one {
    margin-right: 4%;
  }

  .future .future-chart-col .donut-chart svg {
    max-width: 200px;
  }

  .stat.one,
  .stat.two,
  .future-stat-col .stat.one,
  .future-stat-col .stat.two,
  .cost-stat-col .stat.one,
  .cost-stat-col .stat.two {
    margin-bottom: 4%;
  }

  .stat-text {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }

  .speed .chart-block {
    width: 60%;
    margin-right: 5%;
  }

  .speed .text-block {
    font-size: 1.125rem;
    line-height: 1.25rem;
    width: 35%;
  }
}

@media all and (max-width: 599px) {
  .global-chart-wrap {
    display: block;
  }

  .global-speed-chart-wrap {
    margin-right: 0;
  }

  .global-speed-chart-wrap,
  .global-cost-chart-wrap {
    width: 100%;
    float: left;
  }

  .global-cost-chart-wrap {
    margin-top: 22.5px;
  }

  .global-speed-chart,
  .global-cost-chart {
    width: 100%;
  }

  .stat-num {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 5.5px;
  }

  .stat {
    display: block;
  }

  .speed .chart-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 22.5px;
  }

  .speed .text-block {
    width: 100%;
  }

}

@media all and (max-width: 499px) {
  .intro {
    padding-top: 33.75px;
  }

  h2.section-title {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .section-content,
  .section-link {
    margin-top: 22.5px;
  }

  .cost .cost-chart-col {
    width: 100%;
  }

  .future .future-chart-col .donut-chart {
    margin: 0 auto;
    float: none;
  }

  .future .future-chart-col .stat {
    width: 100%;
  }
}
