

body {
  /*background: #F5F5F8;*/
  background: #fff;
  color: #343F49;
}

* {
  box-sizing: border-box;
}

path.state {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.top-image img {
  display: block;
}

h1.page-title {
  font-size: 3rem;
  letter-spacing: -.2px;
  line-height: 3.375rem;
  margin: 0;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 11.25px;
  margin-bottom: 0;
  color: #343F49;
}

.top-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 11.25px;
  color: #5AC9E7;
}

.bar {
  height: 12px;
  width: 100px;
  background: #5AC9E7;
}

.wrap {
  padding: 0px 15px;
  width: 1170px;
  margin: 0 auto;
}

.content {
  padding-top: 45px;
}

.section-intro {
  margin-bottom: 22.5px;
}

.section-text {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 22.5px;
}

.section-text p:last-child {
  margin-bottom: 0;
}

.data-section {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap::after {
  content: "";
  clear: both;
  display: table;
}

.economics,
.tv-experience,
.future {
  padding: 67.5px 0;
}

.tv-experience,
.future {
  background: #F5F5F8;
}

.economics {
  background: #343F49;
  color: #fff;
}

.economics h2.section-title {
  color: #fff;
}

.economics .top-col.right .stat-label,
.economics .blue-text {
  color: #5AC9E7;
}

.section {
  margin-bottom: 90px;
}

.economics form {
  margin-bottom: 22.5px;
}

.top-space {
  padding-top: 20px;
}

.economics .bottom .stat {
  float: left;
  margin-right: 20px;
}

.economics .bottom .stat-num {
  margin: 0;
}

.economics .bottom .stat-label {
  display: table;
}

.stat-num {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
}

.data-intro {
  font-size: 1.5rem;
  line-height: 2rem;
}

.stat-label {
  font-size: 1.5rem;
  line-height: 1.625rem;
  margin-top: 5px;
}

.data-intro {
  margin-top: 0;
}

.economics .form-wrap {
  position: relative;
  margin-bottom: 90px;
}

.economics .form-control {
  height: 50px;
  width: 100%;
  padding: 10px;
  background: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: "0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24)";
  -moz-box-shadow: "0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24)";
  -ms-box-shadow: "0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24)";
  box-shadow: "0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24)";
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 1.25rem;
  line-height: 1.625rem;
  cursor: pointer;
}

.economics .form-control:focus {
  outline: none;
}

.chart-stat,
.chart-block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.speed .chart-block {
  margin-right: 90px;
}

.speed .chart-stat {
  padding-top: 67.5px;
}

.tv-experience .chart-stat {
  margin-top: 22.5px;
}

.tv-experience .chart {
  width: 200px;
  margin-right: 22.5px;
}

.tv-experience .chart path.color0 {
  fill: #5AC9E7;
}

.tv-experience .chart path.color1,
.future .chart path.color1 {
   fill: #d6d9de;
}

.future .chart path.color0 {
  fill: #E71B4F;
}

.tv-experience .stat-col,
.tv-experience .chart-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tv-experience .stat-col {
  padding-left: 45px;
  margin-left: 45px;
  border-left: 1px solid #5AC9E7;
  justify-content: flex-start;
}

.tv-experience .stat-col .stat {
  margin-top: 22.5px;
  text-align: center;
  max-width: 250px;
}

.tv-experience .stat-col .stat:first-child {
  margin-right: 22.5px;
}

.stat-row {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat-num {
  margin: 5px 0;
}

.stat-row .stat {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.stat-row .stat.one {
  margin-right: 45px;
}

.data-col.right img {
  width: 100%;
}

.people-bottom {
  margin-bottom: 22.5px;
}

.people-bottom svg {
  margin-right: 12px;
}

.people-bottom svg:last-child {
  margin-right: 0;
}

.people-bottom svg .st0 {
  stroke: #E71B4F;
}

.people-bottom svg .st1 {
  stroke: #E71B4F;
}

.people-bottom svg.red .st0 {
  fill: #E71B4F;
}

.people-bottom svg.red .st1 {
  fill: #E71B4F;
}

.people-bottom svg.clear .st0 {
  fill: transparent;
}

.people-bottom svg.clear .st1 {
  fill: transparent;
}


.source {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-top: 45px;
  opacity: .6;
}

.speed .source {
  margin-top: 11.25px;
}

.map-outline {
  fill: #E71B4F;
  stroke: #E71B4F;
  stroke-miterlimit:10;
  fill-rule:evenodd;
  fill-opacity: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .map-outline {
    fill-opacity: 1;
  }
}

.speed.active svg polygon {
  stroke-width: 2px;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-iteration: 1;
  -webkit-animation-name: outline, fillin;
          animation-name: outline, fillin;
  -webkit-animation-duration: 5s, .5s;
          animation-duration: 5s, .5s;
  -webkit-animation-delay: 0s, 4s;
          animation-delay: 0s, 4s;
}

@-webkit-keyframes outline{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes outline{
  to{
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fillin {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}
@keyframes fillin {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-dropdown .select2-results__option:hover {
    background-color: #d8d8d8!important;
    color: #343F49 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 42px;
  padding-left: 15px;
}

.select2-container .select2-selection--single {
  height: 45px;
  font-size: 1.25rem;
  border-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus,
.select2-container .select2-selection--single:focus {
  outline: none;
}

.select2-results__option {
  padding-left: 15px;
  padding-right: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  right: 10px;
}

@media all and (min-width: 1200px) {
  .top-col.left {
    width: 540px;
  }

  .top-col.right {
    width: 600px;
  }

  .data-col.left {
    width: 555px;
  }

  .data-col.right {
    width: 540px;
  }
}

@media all and (max-width: 1199px) {
  .section {
    margin-bottom: 67.5px;
  }

  .economics .form-wrap {
    margin-bottom: 67.5px;
  }

  .stat-label {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .wrap {
    width: 970px;
  }

  .people-bottom svg {
    margin-right: 10px;
  }
}

@media all and (min-width: 850px) and (max-width: 1199px) {
  .data-col,
  .top-col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .stat-num {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

@media all and (min-width: 992px) {
  .economics .source {
    margin-top: -25px;
  }

  .top-col.left {
    margin-right: 90px;
  }
}

@media all and (max-width: 991px) {
  .wrap {
    width: 100%;
    padding: 0 45px;
  }

  h2.section-title {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .data-intro,
  .section-text {
    font-size: 1.25rem;
    line-height: 1.65rem;
  }

  .top-col.left {
    margin-right: 45px;
  }

  .economics .form-wrap {
    margin-bottom: 45px;
  }

  .stat-row {
    margin-top: 22.5px;
  }
}

@media all and (min-width: 850px) and (max-width: 991px) {
  .people-bottom svg {
    width: 24px;
    margin-right: 8px;
  }

  .economics .source {
    margin-top: 0;
  }
}

@media all and (min-width: 850px) {
  .data-col.left {
    margin-right: 45px;
  }
}

@media all and (max-width: 849px) {
  .data-section {
    display: block;
    margin-top: 22.5px;
  }

  .top-col.right {
    padding-top: 45px;
    margin-top: 45px;
    border-top: 1px solid #5AC9E7;
  }

  .data-col.right {
    margin-top: 22.5px;
  }

  .stat-label br {
    display: none;
  }

  .source {
    margin-top: 22.5px;
  }
}

@media all and (max-width: 767px) {
  .stat-num {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media all and (max-width: 599px) {
  .wrap {
    padding: 0 22.5px;
  }
  .people-bottom svg {
    width: 24px;
    margin-right: 8px;
  }
}

@media all and (max-width: 499px) {
  .wrap {
    padding-bottom: 45px;
  }
}

@media all and (max-width: 399px) {
  .people-bottom svg {
    width: 20px;
    margin-right: 4px;
  }
}
