

body {
  /*background: #F5F5F8;*/
  background: #fff;
  color: #343F49;
}

* {
  box-sizing: border-box;
}

path.state {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.top-image img {
  display: block;
}

h1.page-title {
  font-size: 3rem;
  letter-spacing: -.2px;
  line-height: 3.375rem;
  margin: 0;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 11.25px;
  margin-bottom: 0;
  color: #343F49;
}

.top-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 11.25px;
  color: #5AC9E7;
}

.bar {
  height: 12px;
  width: 100px;
  background: #5AC9E7;
}

.wrap {
  padding: 0px 15px 90px 15px;
  width: 1170px;
  margin: 0 auto;
}

.content {
  padding-top: 45px;
}

.intro-text,
.intro .section-text {
  margin-top: 22.5px;
}

.wrap::after {
  content: "";
  clear: both;
  display: table;
}

.section.economics {
  background: #F5F5F8;
}


@media all and (min-width: 1200px) {

}

@media all and (max-width: 1199px) {
  .wrap {
    padding-bottom: 67.5px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .wrap {
    width: 970px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .wrap {
    width: 750px;
  }
}

@media all and (min-width: 500px) and (max-width: 767px) {

}

@media all and (max-width: 991px) {
  .wrap {
    width: 100%;
    padding: 0 45px 67.5px 45px;
  }

  h2.section-title {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

@media all and (max-width: 767px) {

}

@media all and (max-width: 599px) {
  .wrap {
    padding: 0 22.5px 67.5px 22.5px;
  }
}

@media all and (max-width: 499px) {
  .wrap {
    padding-bottom: 45px;
  }
}
