

body {
  /*background: #F5F5F8;*/
  background: #fff;
  color: #343F49;
}

* {
  box-sizing: border-box;
}

path.state {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.top-image img {
  display: block;
}

h1.page-title {
  font-size: 3rem;
  letter-spacing: -.2px;
  line-height: 3.375rem;
  margin: 0;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 11.25px;
  margin-bottom: 0;
  color: #343F49;
}

.top-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 11.25px;
  color: #5AC9E7;
}

.bar {
  height: 12px;
  width: 100px;
  background: #5AC9E7;
}

.wrap {
  padding: 0px 15px 90px 15px;
  width: 1170px;
  margin: 0 auto;
}

.content {
  padding-top: 45px;
}

.section-intro {
  margin-bottom: 22.5px;
}

.section-text {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 22.5px;
}

.section-text p:last-child {
  margin-bottom: 0;
}

.section-content {
  margin-top: 45px;
}

.wrap::after {
  content: "";
  clear: both;
  display: table;
}

.economics {
  background: #F5F5F8;
  padding: 67.5px 0;
}

.economics form {
  margin-bottom: 22.5px;
}

.stat-num {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
}

.text,
.stat-label {
  font-size: 1.5rem;
  line-height: 2rem;
}

.economics .form-wrap {
  position: relative;
  margin-bottom: 67.5px;
}

.economics .form-control {
  height: 50px;
  width: 100%;
  padding: 10px;
  background: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: "0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24)";
  -moz-box-shadow: "0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24)";
  -ms-box-shadow: "0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24)";
  box-shadow: "0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24)";
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 1.25rem;
  line-height: 1.625rem;
  cursor: pointer;
}

.economics .form-control:focus {
  outline: none;
}

.economics .form-arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #343F49;
  margin-top: 5px;
  margin-right: 5px;
  color: #343F49;
  text-decoration: none;
  display: block;
  font-weight: 700;
  position: absolute;
  right: 10px;
  top: 15px;
}

.economics .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.economics .econ-col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.economics .stat-row {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.economics .stat-num {
  margin: 5px 0;
}

.economics .stat-row .stat {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.economics .econ-col.left {
  margin-right: 45px;
}

.people-bottom {
  margin-bottom: 22.5px;
}

.people-bottom svg {
  margin-right: 5px;
}

.people-bottom svg:last-child {
  margin-right: 0;
}

.source {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-top: 22.5px;
  opacity: .6;
}


@media all and (min-width: 1200px) {

}

@media all and (max-width: 1199px) {
  .wrap {
    padding-bottom: 67.5px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .wrap {
    width: 970px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .wrap {
    width: 750px;
  }
}

@media all and (min-width: 500px) and (max-width: 767px) {

}

@media all and (max-width: 991px) {
  .wrap {
    width: 100%;
    padding: 0 45px 67.5px 45px;
  }

  h2.section-title {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

@media all and (max-width: 767px) {

}

@media all and (max-width: 599px) {
  .wrap {
    padding: 0 22.5px 67.5px 22.5px;
  }
}

@media all and (max-width: 499px) {
  .wrap {
    padding-bottom: 45px;
  }
}
